langchain==0.1.17
langchain-community==0.0.27
langchain-core==0.1.35
langchain-experimental==0.0.51
langchain-mistralai==0.1.7
mistralai==0.1.4
tqdm==4.66.4
beautifulsoup4==4.12.3
pandas==2.2.2
requests==2.31.0
faiss-cpu==1.8.0
python-dotenv==1.0.1
duckduckgo-search
requests
